<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <title><%Title%></title>
  <link rel='stylesheet'  href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script type="text/javascript">
    var myApp = angular.module('myApp',[]);

    myApp.controller("MainCtrl", function($scope, $http, $q) {
      var res = $http.get("photos.json").then(function successCallback(results) {
        $scope.files = results.data.files;
      }, function errorCallback(response) {
        alert(response)
      })

      // gets thethumbnail name for the file
      $scope.getThumbJpg = function(fileName) {
        console.log("Test, " + fileName)
        var idx = fileName.lastIndexOf(".");
        return fileName.slice(0, idx) + "_thumb" + fileName.slice(idx);
      }
    });
</script>
</head>
<body>
  <a href="<%Back%>">Back</a>
  <div class="container" ng-controller="MainCtrl">
    <div class="navbar" />
    <div class="body">
      <div ng-repeat="filename in files">
        <p>{{filename}} - {{getThumbJpg(filename)}}</p>
        <a href="{{filename}}"><img ng-src="{{getThumbJpg(filename)}}" class="img-thumbnail" /></a>
      </div>
    </div>
    <div class="footer">
      <p class="muted">&copy; dylan clement 2016</p>
    </div>
  </div>
</body>
</html>
